* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	height: 100%;
}

button {
	border: none;
}

h1 {
	font-size: 4em;
	margin: auto;
}

#header {
	position: relative;
	height: min-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.05);
	background-color: #fff;
}

.hamburger-icon {
	height: 2em;
	border-radius: 10px;
	z-index: 1;
}

.hamburger-menu {
	list-style-type: none;
	width: 20em;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(40%, 45%) scale(0, 0);
	transition: all 0.1s ease-out;
 }

.hamburger-icon:hover + .hamburger-menu,
.hamburger-menu:hover {
	transform: translate(0, 92.5%) scale(1, 1);
}

.hamburger-menu li {
	height: 6vh;
	width: 100%;
	box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
}

.hamburger-icon:hover,
.hamburger-menu li + li:hover {
	transform: scale(1.05) translate(-3%, -10%);
	cursor: pointer;
}

.hamburger-menu li:first-child {
	height: max-content;
	background-color: #ffffff;
	padding-top: 2em;
	padding-bottom: 1em;
}

.menu-prompt {
	font-size: 2em;
	margin-bottom: 0.5em;
	text-align: center;
}

#show-active-checkbox {
	position: relative;
	opacity: 0;
	z-index: 2;
	transform: scale(7, 1.5) translate(22px, 14px);
	cursor: pointer;
}

.show-active-label {
	display: block;
	width: max-content;
	margin: 0 auto;
	text-align: center;
	color: gray;
	border-radius: 10px;
	padding: 0.2em 0.4em;
	text-transform: uppercase;
	font-size: 0.8em;
}

#show-active-checkbox:hover + .show-active-label {
	transform: scale(1.2) translateY(-1%);
}

#show-active-checkbox:checked + .show-active-label {
	box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.01);
}

.black {
	background-color: #212121;
}

.red {
	background-color: #e35252;
}

.green {
	background-color: #6da365;
}

.yellow {
	background-color: #ccaf64;
}

.blue {
	background-color: #7e85d6;
}

.magenta {
	background-color: #ca6ecc;
}

.cyan {
	background-color: #75c9b4;
}

.white {
	background-color: #ffffff;
}

.hamburger-menu .active {
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
	margin: 1em 0;
	transform: translate(-10%, 0);
}

.no-hover {
	pointer-events: none;
}
